@tailwind base;
@tailwind components;
@tailwind utilities;

.ContactContainer {
    @apply flex flex-col justify-center border-2 border-primary rounded-lg p-5 max-w-3xl m-5 mx-auto;
}

.contactForm {
    @apply flex flex-col items-start w-full;
}

.card {
    @apply cursor-pointer
}

/* Search Page */

@media (max-width: 640px) {  /* Small screens */
    .custom-grid { grid-template-columns: repeat(2, minmax(0, 1fr)); padding-left: 2px; padding-right: 2px;}
}

@media (min-width: 641px) and (max-width: 1023px) { /* Medium screens */
    .custom-grid { grid-template-columns: repeat(3, minmax(0, 1fr)); padding-left: 2px; padding-right: 2px;}
}

@media (min-width: 868px) and (max-width: 1143px) { /* Large screens */
    .custom-grid { grid-template-columns: repeat(4, minmax(0, 1fr)); }
}

@media (min-width: 1144px) and (max-width: 1279px) { /* Large screens */
    .custom-grid { grid-template-columns: repeat(5, minmax(0, 1fr)); }
}

@media (min-width: 1280px) and (max-width: 1440px){ /* Extra Large screens */
    .custom-grid { grid-template-columns: repeat(6, minmax(0, 1fr)); }
}

@media (min-width: 1440px) { /* Extra Large screens */
    .custom-grid { grid-template-columns: repeat(10, minmax(0, 1fr)); padding-left: 1px; padding-right: 1px;}
}